html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: rgb(174, 198, 238);
	background: radial-gradient(
		circle,
		rgba(174, 198, 238, 0.5088629201680672) 0%,
		rgba(148, 187, 233, 0.1419161414565826) 100%
	);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2 {
	margin: 0;
}

/* COLOR FOR POKEMONS TYPES */

.bg_type_normal {
	background-color: '#C2C2A1';
}

.bg_type_fire {
	background-color: '#FB6C6C';
}

.bg_type_water {
	background-color: '#609FB5';
}

.bg_type_grass {
	background-color: '#48D0B0';
}

.bg_type_fyling {
	background-color: '#BAB0D5';
}

.bg_type_fighting {
	background-color: '#d6b591';
}

.bg_type_electric {
	background-color: '#FFD86F';
}

.bg_type_ground {
	background-color: '#B1736C';
}

.bg_type_rock {
	background-color: '#a6aab6';
}

.bg_type_psychic {
	background-color: '#9B7FA6';
}

.bg_type_ice {
	background-color: '#7FCCEC';
}

.bg_type_bug {
	background-color: '#C3CE75';
}

.bg_type_ghost {
	background-color: '#735797';
}

.bg_type_steel {
	background-color: '#CCCCDE';
}

.bg_type_dragon {
	background-color: '#F9BE00';
}

.bg_type_dark {
	background-color: '#333';
}

.bg_type_fairy {
	background-color: '#f469a9';
}

/* TYPOGRAPHY */

.header_1 {
	font-size: 42px;
	font-weight: 500;
	letter-spacing: 2px;
}

.header_2 {
	font-weight: 400;
	letter-spacing: 1;
}
