.container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px;
}

.filter_section {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
}

.chipsList {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 15px;
}

.cardsList {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 15px;
	margin-top: 30px;
}
